.main-header {
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  height: 40px;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  margin-right: 16px;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #a0ff00;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #0d6efd;
}

.username {
  font-weight: 600;
  color: #10c9d6;
  white-space: nowrap;
}


.logout-button {
  background-color: #d63031;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 6px 14px;
  font-weight: bold;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #e84118;
}
