.main-page-wrapper {
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
}

.main-page {
  padding: 20px 0;
}

.section-title {
  color: #fff;
  margin-bottom: 24px;
  font-size: 1.8rem;
  font-weight: bold;
}

.movie-card-link {
  text-decoration: none;
}

.movie-card {
  background-color: #1e293b;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}

.movie-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 10px 30px rgba(0, 200, 255, 0.25);
}

.movie-thumbnail {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.movie-info {
  padding: 10px;
  text-align: center;
  
}

.movie-title {
  font-size: 1rem;
  color: #e2e8f0;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 42px;
}

.pagination .page-link {
  color: #0dcaf0;
  background-color: #fff;
  border: none;
  margin: 0 4px;
  border-radius: 8px;
  padding: 6px 12px;
  transition: all 0.2s ease-in-out;
}

.pagination .page-link:hover {
  background-color: #0dcaf0;
  color: #fff;
}

.pagination .active .page-link {
  background-color: #0dcaf0;
  color: #fff;
  font-weight: bold;
}
.movie-poster-wrap {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 16/9;
}

